p {
  color:black;
  font-weight: bold;
  }

h1, a, div {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 127px;
  }

.logo {
  margin-left: 4px;
  width: 190px;
  height: 35px;
  background: url("img/logo.svg");
}

.menu {
 display: flex;
 align-items: center;
 }

.menu__item {
 position: relative;
 margin: 1px 28px 0 0;
 font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
 color: #000;
 text-decoration: none;
 transition: opacity .5s;
 }

.menu__item_start {
  margin-right: 26px;
 }

.menu__item_active {
  margin-right: 25px;
 }

.menu__item:last-child {
  margin-right: 10px;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity:0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 74px 63% 206px 0;
  margin: 0 5px 63px 0;
  background: top right no-repeat url("img/Img1.svg");
}

.main__title {
  width: 567px;
  height: 255px;
  margin: 0 0 43px 2px;
  font: 700 66px/87px pt_serifbold, helvetica, sans-serif;
}

.main__subtitle {
  margin: 0 0 40px 3px;
  font-weight: normal;
  font: 400 22px/26px Roboto, arial, helvetica, sans-serif;
  width: 455px;
  height: 52px;
}

.main__button {
  display: inline-block;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  width: 229px;
  color: #fff;
  background: #0056EC;
  padding: 18px 21px;
  margin-left: 4px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.main__title-text_highlight {
  background: linear-gradient(to top, #ECF3FF 85%, #FFF 15%) ;
}

.dots {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32px;
  height: 8px;
  }

.dots__circle {
  width: 8px;
  height: 8px;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
}
